@import "../../styles/func"
@import "../../styles/var"

// @keyframes navbar-side-in
//     from
//         transform: translateX(0)

//     to
//         transform: translateX(90%)

.sm-header
    position: absolute
    top: 0
    left: 0
    width: 100%
    background-color: rgb(228 228 228 / 99%)
    height: 100vh
    max-width: 100%
    transform: translateX( -900px)
    transition: 0.5s
    transition-property: transform
    transition-timing-function: ease-in-out
    display: flex
    align-items: center
    border-radius: 0 0 25%

    ul
        margin-left: 1em
        li
            padding: 1em 3em 1em
            border-bottom: 1px solid $orange-corp
            a
                padding: 1em 3em 1em

.visble
    transform: translateX(0px)
